.list-elem {
    margin-left: 50px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100px 500px;
    grid-gap: 2vw;
}

.online-status {
    text-align: center;
}

.list-group-item {
    border-style: none;
}

.display-1 {
    text-align: center;
}

.list-group {
    margin: auto;
    width: 95%;
    list-style: none;
}

.friend-img {
    border-radius: 50%;
}