.list-elem {
    margin-left: 50px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
}

.list-group-item {
    border-style: none;
}

.lead {
    text-align: center;
}

.list-group {
    margin: auto;
    width: 70%;
    list-style: none;
}

.friend-img {
    border-radius: 50%;
}