.list-elem {
    margin-left: 50px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100px 500px;
    grid-gap: 2vw;
}

.online-status {
    text-align: center;
}

.list-group-item {
    border-style: none;
}

.display-4 {
    text-align: center;
    text-underline-position: none;
}

.list-group {
    margin: auto;
    width: 95%;
    list-style: none;
}

.friend-img {
    border-radius: 50%;
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
}